{
  "template": "{{TEMPLATE}}",
  "stencils": [
    {
      "key": "Basic",
      "path": "Basic Shapes.vssx"
    }
  ],
  "shapeMapping": {},
  "themeName": "Office",
  "themePath": "{{THEME_PATH}}"
}