{
  "template": "{{TEMPLATE}}",
  "stencils": [
    {
      "key": "Basic",
      "path": "Basic Shapes.vssx"
    }
  ],
  "shapeMapping": {
    "Process": "Basic!Rectangle",
    "Decision": "Basic!Diamond"
  }
}